
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      Login
        </ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size=2></ion-col>
      <ion-col size=8>
        <ion-card style="margin-top:10%">
          <ion-card-header>
          <ion-card-title style="text-align: center;">Login</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input [(ngModel)]="email" type="text" style="color:#3880ff"></ion-input>
              </ion-item>
      
             
      
              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input [(ngModel)]="password" type="password" style="color:#3880ff"></ion-input>
              </ion-item>
      
            
      
              
            </ion-list>
          </ion-card-content>
      
        </ion-card>
        <ion-button expand="block" shape="round" color="primary" (click)="login()" style="text-transform: capitalize;">Login</ion-button>
        <div style=" text-align: center;">
          
        </div>
        <div style=" text-align: center;margin-top:5%;">
          <a (click)="forgot()" >Forgot password?</a>
          <br>
        </div>
      

     

      </ion-col>
    </ion-row>
  </ion-grid>
 
  
   
         
</ion-content>
