<ion-header >
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      Update Forms in Sheet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size=2></ion-col>
      <ion-col size=8 style="text-align:center;">

        <ion-button expand="block" (click)="onOAuthBtnClick()" style="text-transform: capitalize;margin-top:30%;">Extract Forms To Sheet</ion-button>
        <ion-button expand="block" style="text-align:center;text-decoration:none;text-transform: capitalize;margin-top:4%;" href="https://docs.google.com/spreadsheets/d/15PS5n71sE5KGsLwXoSa5FhcdsdQ2805PflgEyPt_a_M/edit#gid=0" target="_blank">Open Sheet</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
  

 
</ion-content>
