<ion-header [translucent]="true">
  <ion-toolbar color="warning" >
    <ion-title style="color:#3880ff;font-size:xx-large;padding-bottom:4%" >
      <img style="width:18%;padding-top:6%;padding-right:4%;"src="././assets/logo.jpeg"/>मिशन मिट्टी बचाओ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-grid>
   <ion-row>
     <ion-col size-xs=12 size-s=12 size-md=12>
       <ion-img style="width:100%" src=""></ion-img>
      <ion-list>
        <ion-item class="custom-item">
          <ion-label position="stacked">नाम</ion-label>
          <ion-input [(ngModel)]="form.name"  inputmode = "text" placeholder = "आपका नाम (पूरा नाम)" ></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="stacked" >मोबाइल नंबर</ion-label>
          <ion-input [(ngModel)]="form.mobile"  inputmode= "tel" minlength=10 maxlength=10 type="tel" placeholder = "आपका मोबाइल नम्बर (10 अंकीय नम्बर)" ></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="stacked" >आधार नंबर</ion-label>
          <ion-input [(ngModel)]="form.aadhar" inputmode= "numeric"  minlength=12 maxlength=12  placeholder = "आपका आधार नम्बर (12 अंकीय आधार नम्बर)" ></ion-input>
        </ion-item>
       
        <ion-item class="custom-item">
          <ion-label position="stacked" >आप कौन सी फसल उगाते हैं?</ion-label>
          <ionic-selectable
              
          item-content 
          [(ngModel)]="crop"
          [items]="crops"
          itemValueField="id"
          itemTextField="val"
          [canSearch]="true">

        </ionic-selectable>      
        </ion-item>
       
        <ion-item class="custom-item">
          <ion-label position="stacked" >पता (घर का पता)</ion-label>
          <ion-input [(ngModel)]="form.address"  type="text"  placeholder = "आपका पता" ></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="stacked" >पिन कोड (अपना पिन कोड जमा करें)</ion-label>
          <ion-input [(ngModel)]="form.pin"  inputmode= "numeric"  minlength=6 maxlength=6 placeholder = "आपका पिन कोड" ></ion-input>
        </ion-item>
        <ion-button (click)="getLocation()" expand="block">पिन कोड सबमिट करें</ion-button>
        <ion-item class="custom-item" *ngIf="pin_correct">
          <ion-label position="stacked" >जिला</ion-label>
          <ionic-selectable
              
         
          item-content 
          [(ngModel)]="district"
          [items]="districts2"
          itemValueField="id"
          itemTextField="val"
          >

        </ionic-selectable>      
        </ion-item>
        <ion-item class="custom-item" *ngIf="pin_correct">
          <ion-label position="stacked" >तालुका</ion-label>
          <ionic-selectable
              
         
          item-content 
          [(ngModel)]="taluka"
          [items]="talukas2"
          itemValueField="id"
          itemTextField="val"
          >

        </ionic-selectable>      
        </ion-item>
        <ion-item class="custom-item" *ngIf="pin_correct">
          <ion-label position="stacked" >गाँव</ion-label>
          <ionic-selectable
              
         
          item-content 
          [(ngModel)]="village"
          [items]="villages2"
          itemValueField="id"
          itemTextField="val"
          >

        </ionic-selectable>      
        </ion-item>

        <ion-button *ngIf="pin_correct" expand="block" (click)="takePicture()"><ion-icon name="camera" style="padding-right: 5%;"></ion-icon>सबूत के लिए अपने खेत की छवि अपलोड करें</ion-button>
        <ion-button *ngIf="pin_correct" expand="block" color="success" (click)="submit()">फार्म जमा करें</ion-button>


        
     </ion-list>
    </ion-col>
   </ion-row>
 </ion-grid>

 
</ion-content>
