<!-- <ion-header [translucent]="true">
  <ion-toolbar color="warning" >
        <img src="././assets/A1.jpg" style="width:100%"/>

       
   
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <!-- <ion-button (click)="date()" expand="block">aad spaces</ion-button> -->
  <img src="././assets/A1.jpg" style="width:100%"/>

 <ion-grid>
   <ion-row>
     <ion-col size-xs=12 size-s=12 size-md=12>
      <ion-list>
        <ion-item class="custom-item">
          <ion-label position="stacked" style="font-size: x-large;color:gray;">नाम</ion-label>
          <ion-input [(ngModel)]="form.name" style="font-size:small;text-transform:capitalize" inputmode = "text" placeholder = "आपका नाम (पूरा नाम)" ></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="stacked"style="font-size: x-large;color:gray;" >मोबाइल नंबर</ion-label>
          <ion-input [(ngModel)]="form.mobile" style="font-size:small;" inputmode= "tel" minlength=10 maxlength=10 type="tel" placeholder = "आपका मोबाइल नम्बर (10 अंकीय नम्बर)" ></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="stacked" style="font-size: x-large;color:gray;">आधार नंबर</ion-label>
          <ion-input [(ngModel)]="form.aadhar" style="font-size:small;" inputmode= "numeric"  minlength=12 maxlength=12  placeholder = "आपका आधार नम्बर (12 अंकीय आधार नम्बर)" ></ion-input>
        </ion-item>
       
        <ion-item class="custom-item">
          <ion-label position="stacked" style="font-size:small;" style="font-size: x-large;color:gray;">आप कौन सी फसल उगाते हैं?</ion-label>
          <ionic-selectable
          style="font-size:small;"   
          item-content 
          [(ngModel)]="crop"
          [items]="crops"
          itemValueField="id"
          itemTextField="val"
          [canSearch]="true">

        </ionic-selectable>      
        </ion-item>
       
        <ion-item class="custom-item">
          <ion-label position="stacked" style="font-size: x-large;color:gray;">पता (पता/घर के पास प्रसिद्ध स्थान, गांव, तालुका)</ion-label>
          <ion-input style="font-size:small;" [(ngModel)]="form.address"  type="text"  placeholder = "आपका पता" ></ion-input>
        </ion-item>
        <!-- <ion-item style="color: #3880ff;">
          <ion-badge slot="start" color="warning" style="font-size: large;">नोट:</ion-badge>
          <p style="font-size: small;">यह कुछ मामलों में हो सकता है कि गांव कुछ पिन कोड में मौजूद नहीं है। उस स्थिति में, पता फ़ील्ड में पूरा पता लिखें। पता लिखने का सबसे अच्छा तरीका है: घर, गाँव, तालुका, जिला, पिन कोड</p>
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="stacked" style="font-size: x-large;color:gray;">पिन कोड</ion-label>
          <ion-input style="font-size:small;" [(ngModel)]="form.pin"  inputmode= "numeric"  minlength=6 maxlength=6 placeholder = "आपका पिन कोड" ></ion-input>
        </ion-item>
        <ion-button (click)="getLocation()" size="small" expand="block">पिन कोड सबमिट करें</ion-button> -->
        <!-- below *ngIf="pin_correct" -->
        <ion-item class="custom-item">
          <ion-label position="stacked" style="font-size: x-large;color:gray;">जिला</ion-label>
          <ionic-selectable
              
          style="font-size:small;"
          item-content 
          [(ngModel)]="district"
          [items]="districts2"
          itemValueField="id"
          itemTextField="val"
          (onChange)="portChange($event)"
          >

        </ionic-selectable>      
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="stacked" style="font-size: x-large;color:gray;">तालुका</ion-label>
          <ionic-selectable
              
          style="font-size:small;"
          item-content 
          [(ngModel)]="taluka"
          [items]="talukas2"
          itemValueField="id"
          itemTextField="val"
          (onChange)="portChange2($event)"

          >

        </ionic-selectable>      
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="stacked" style="font-size: x-large;color:gray;">गाँव</ion-label>
          <ionic-selectable
          style="font-size:small;"
         
          item-content 
          [(ngModel)]="village"
          [items]="villages2"
          itemValueField="id"
          itemTextField="val"
          >

        </ionic-selectable>      
        </ion-item>

        <ion-button size="small" expand="block" (click)="takePicture()"><ion-icon name="camera" style="padding-right: 5%;"></ion-icon>सबूत के लिए अपने खेत का ७/१२ अपलोड करें</ion-button>
        <ion-button size="medium" expand="block" style="margin-top:5%;"color="success" (click)="submit()">फार्म जमा करें</ion-button>


        
     </ion-list>
    </ion-col>
   </ion-row>
 </ion-grid>

 
</ion-content>
